<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/users/css/admin_login.css" />
  </head>
  <body>
    <div class="card">
      <div>
        <span style="display: block; color: red; margin-bottom: 1rem"
          ><%= error %></span
        >
        <form class="email-login" action="/admin/login" method="post">
          <label for="email"> <b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" />
          <label for="passwd"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="passwd" />
          <input class="cta-btn" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
