<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/users/css/email_verification.css" />
  </head>
  <body>
    <div
      class="
        container
        height-100
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div class="position-relative">
        <form
          class="card p-2 text-center"
          action="/users/signup/emailVerification/<%=id%>"
          method="post"
        >
          <h6>
            Please enter the one time password <br />
            to verify your account
          </h6>
          <div>
            <span>A code has been sent to</span>
            <small style="color: green; font-weight: 600"><%= email %></small>
          </div>

          <div
            id="otp"
            class="inputs d-flex flex-row justify-content-center mt-2"
          >
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="first"
              maxlength="1"
              name="one"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="second"
              maxlength="1"
              name="two"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="third"
              maxlength="1"
              name="three"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="fourth"
              maxlength="1"
              name="four"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="fifth"
              maxlength="1"
              name="five"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="sixth"
              maxlength="1"
              name="six"
            />
          </div>
          <span style="display: block; color: red; margin-top: 1rem"
            ><%= error %></span
          >
          <div class="mt-4">
            <button class="btn btn-danger px-4 validate">Validate</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
