<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
   
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a
            class=" waves-effect waves-dark"
            href="/admin/home"
            aria-expanded="false"
             >
             <i class="ti-palette"></i>
             <span class="hide-menu"
              >Dashboard</a >
        </li>
         
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="icon-speedometer"></i><span class="hide-menu">Products</span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a href="/admin/products">All Products</a></li>
            <li><a href="/admin/add_main_category">Add Main Category</a></li>
            <li><a href="/admin/add_sub_category">Add Sub Category</a></li>
            <li><a href="/admin/addProduct">Add Products</a></li>
          </ul>
        </li>
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="ti-email"></i><span class="hide-menu">Users</span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a href="/admin/users">All Users</a></li>
          </ul>
        </li>
          <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="icon-speedometer"></i><span class="hide-menu">Orders</span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a href="/admin/orders">All Orders</a></li>
          </ul>
        </li>
             <li>
          <a
            class=" waves-effect waves-dark"
            href="/admin/reports"
            aria-expanded="false"
             >
             <i class="ti-palette"></i>
             <span class="hide-menu"
              >Reports</a >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            href="/admin/logout"
            aria-expanded="false"
            ><i class="ti-settings"></i
            ><span class="hide-menu">Log Out</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
